#afui .af-badge {
	position:absolute;
	top:2px; right:2px;
	display:inline-block;
	min-width:20px;	max-width:90%; height:20px;
	padding:0 3px;
	background-color:red;
	border-radius:20px;
	
	font-size:12px;
	line-height:19px;
	font-weight:bold;
	
	color:#fff;
	text-overflow:ellipsis;
	text-align:center;
	text-shadow:0 -1px 0 rgba(64,0,0,.6);
}

#afui .af-badge.br { bottom:2px; right:2px; top:auto; left:auto; }
#afui .af-badge.bl { bottom:2px; left:2px; top:auto; right:auto; }
#afui .af-badge.tl { top:2px; left:2px; right:auto; bottom:auto; }
