#afui select,
#afui textarea,
#afui input[type="text"],
#afui input[type=search],
#afui input[type="password"],
#afui input[type="datetime"],
#afui input[type="datetime-local"],
#afui input[type="date"],
#afui input[type="month"],
#afui input[type="time"],
#afui input[type="week"],
#afui input[type="number"],
#afui input[type="email"],
#afui input[type="url"],
#afui input[type="tel"],
#afui input[type="color"],
#afui .input-group {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  font-weight: normal;
  -webkit-appearance: none;
  box-sizing: border-box;
}
#afui form {
  position: relative;
}
#afui input[type="radio"],
#afui input[type="checkbox"] {
  display: none;
}
#afui input[type="radio"] + label,
#afui input[type="checkbox"] + label {
  display: inline-block;
  width: 60%;
  float: right;
  position: relative;
  text-align: left;
  padding: 10px 0 0 0;
}
#afui input[type="radio"]:not(.toggle) + label:before {
  background-color: #fafafa;
  border: 1px solid #cacece;
  border-radius: 50px;
  display: block;
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  content: '';
  margin-right: 5px;
  top: 8px;
  margin-left: -25px;
}
#afui input[type="radio"]:checked + label:before {
  background-color: #000000;
}
#afui input[type="checkbox"] + label:before {
  background-color: #fafafa;
  border: 1px solid #cacece;
  border-radius: 3px;
  display: block;
  position: absolute;
  top: 8px;
  left: -25px;
  width: 1.3em;
  height: 1.3em;
  content: " ";
}
#afui input[type="checkbox"]:checked + label:before {
  content: '\00a0\2714';
  padding: 0px;
  display: inline-block;
}
#afui input[type="radio"]:after,
#afui input[type="checkbox"]:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#afui input[type="search"] {
  border-radius: 20px;
}
#afui label {
  float: left;
  width: 33%;
  font-weight: normal;
  font-size: 14px;
  color: inherit;
  text-align: right;
  padding: 11px 6px;
}
#afui label + select,
#afui label + input[type="radio"],
#afui label + input[type="checkbox"] label + textarea,
#afui label + input[type="text"],
#afui label + input[type=search],
#afui label + input[type="password"],
#afui label + input[type="datetime"],
#afui label + input[type="datetime-local"],
#afui label + input[type="date"],
#afui label + input[type="month"],
#afui label + input[type="time"],
#afui label + input[type="week"],
#afui label + input[type="number"],
#afui label + input[type="email"],
#afui label + input[type="url"],
#afui label + input[type="tel"],
#afui label + input[type="color"],
#afui label + textarea {
  width: 66%;
}
#afui textarea {
  height: auto;
}
#afui .input-group {
  width: auto;
  height: auto;
  padding: 12px;
  overflow: hidden;
}
#afui .input-group input:not([type='button']):not([type='submit']),
#afui .input-group textarea,
#afui .input-group select {
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
}
#afui .input-group input:not([type="submit"]):not([type="button"]):last-child,
#afui .input-group textarea:last-child,
#afui .input-group select:last-child {
  border-bottom: none;
}
#afui .input-group input[type=button],
#afui .input-group input[type=submit] {
  margin: 5px;
}
#afui input.toggle + label:before,
#afui input.toggle:checked + label:before {
  content: attr(data-on);
  position: absolute;
  color: #fff;
  left: 5px;
  width: 42px;
  text-align: left;
  z-index: 3;
  top: 3px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
  display: none;
}
#afui input.toggle:checked + label:before {
  display: block;
}
#afui input.toggle + label:after {
  content: attr(data-off);
  position: absolute;
  color: #505050;
  width: 42px;
  text-align: left;
  z-index: 1;
  top: 2px;
  left: 30px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  text-transform: uppercase;
}
#afui input.toggle:checked + label:after {
  display: none;
}
#afui input[type="radio"].toggle:checked + label:before {
  line-height: 1.2em;
}
#afui input.toggle + label {
  position: relative;
  margin: 5px;
  border-radius: 50px;
  display: block;
  height: 24px;
  width: 65px;
  border: 1px solid #ccc;
  left: 33%;
  float: none;
}
#afui input.toggle:checked + label {
  background: #1eb0e9;
  line-height: -1em;
}
#afui input.toggle + label > span {
  display: block;
  width: 28px;
  height: 28px;
  background: #ccc;
  border-radius: 50px;
  z-index: 5;
  top: -2px;
  left: 0px;
  position: absolute;
  transition: transform 100ms linear;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 100ms linear;
}
#afui input.toggle:checked + label > span {
  transform: translate3d(37px, 0, 0);
  -webkit-transform: translate3d(37px, 0, 0);
}
#afui .formGroupHead {
  font-size: 18px;
  font-weight: bold;
  color: inherit;
  margin: 16px 0 8px;
}
