/*

313f66*/

#afui.tizen {
    font:14px  'TizenSans',sans-serif;
    background:#000;
    color:#fff;
    border-color:#fff;
}

#afui.tizen.light {
    background:#FDFDFD;
    color:#000;
}
#afui.tizen > #header {
    background:#313f66;
    color:inherit;
    border-color:#313f66;
}

#afui.tizen.light > #header {
    background:#e9e6df;
    color:inherit;
    border-color:#e9e6df;
}

#afui.tizen.light > #navbar {
    background:#dedcd5;
    color:inherit;
    border-top:2px solid #e9e6df;
}

 #afui.tizen.light #navbar a.pressed {
    border-top:4px solid #e9e6df;

 }


#afui.tizen #backButton
{
    background: inherit;
    color:inherit;
}

#afui.tizen .menuButton:after {
    border-color:white;
}

#afui.tizen.light .menuButton:after {
    border-color:black;
}


 #afui.tizen > #navbar {
    box-shadow: none;
    background:#464c5e;
    border-top:2px solid #313f66;
    border-bottom:none;
    padding:0;
 }

#afui.tizen #navbar a.pressed {
    top:0px;
    height:47px;
}
 #afui.tizen #navbar a.pressed {
    border:0px;
    background:#313f66;
    border-radius:0px;
 }

#afui.tizen #navbar .icon.pressed:before {
    color:inherit;
}


#afui.tizen .af-badge {
    border:none;
}
#afui.tizen #content,#afui.tizen #content > .panel {
    background:inherit;
    color:inherit;
 }

 #afui.tizen .list {
    background:inherit;
    color:inherit;
    border-color:#303030;
 }

 #afui.tizen .list .divider { color:black; }

 #afui.tizen .panel h2 { color:inherit; }


#afui.tizen .collapsed:after {border-top: 6px solid;}
#afui.tizen .collapsed:before {border:2px solid;}
#afui.tizen .expanded:after {border-bottom: 6px solid;}
#afui.tizen .expanded:before {border:2px solid;}

#afui.tizen .collapsed:before,#afui.tizen .expanded:before {
    border-color: inherit;
}
#afui.tizen .collapsed:after,
#afui.tizen .expanded:after{
    border-top-color:inherit;
    border-top-color:inherit;
}

#afui.tizen .afScrollbar {background:white !important;}
#afui.tizen.light .afScrollbar {background:black !important;}

#afui.tizen select, #afui.tizen textarea, #afui.tizen input[type="text"],
#afui.tizen input[type=search], #afui.tizen input[type="password"],
#afui.tizen input[type="datetime"], #afui.tizen input[type="datetime-local"],
#afui.tizen input[type="date"], #afui.tizen input[type="month"],
#afui.tizen input[type="time"], #afui.tizen input[type="week"],
#afui.tizen input[type="number"], #afui.tizen input[type="email"],
#afui.tizen input[type="url"], #afui.tizen input[type="tel"],
#afui.tizen input[type="color"], #afui.tizen .input-group {
    background:inherit;
    color:inherit;
}

#afui.tizen input.toggle+label:after { color:inherit; }

#afui.tizen input.toggle+label { border-radius:0; }

#afui.tizen input.toggle+label > span {
    border-radius:0;
    top:0;
    width:27px;
    height:23px;
}

#afui.tizen label { color:inherit; }

#afui.tizen input[type="radio"]:checked+label:before,#afui.tizen input[type="checkbox"]:checked+label:before {
    background: #313f66;
}

#afui.tizen > #menu {
    border-right: 1px solid rgba(128,128,128,0.5);
    color:inherit;
    background:inherit;
}

#afui.tizen #menu .list li {
    box-shadow:none;
    border-color:#ccc;
}

#afui.tizen #menu .list .divider {
    background:inherit;
    color:inherit;
    font-size: 1em;
}

#afui.tizen #menu .list > li > a {
    background:inherit;
    color:inherit;
    font-size: 1em;
}

#afui.tizen #menu .list {
    font-weight: normal;
}



#afui.tizen .afPopup {
    display: block;
    width: 100%;
    float:left;
    border: solid 1px #313f66;
    left:0px !important;
    padding: 10px;
    opacity: 1;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-transform:none;
    transform:none;
    -webkit-transition: none;
    transition:none;
    position: absolute;
    z-index: 1000000;
    top: 50%;
    margin: 0px auto;
    background:inherit;
    color:inherit;
    padding:30px;
}

#afui.tizen #af_actionsheet {
    background:inherit;
    color:inherit;
}

#afui.tizen    #af_actionsheet a{
    border-radius:0;
    -webkit-border-radius:0;
    border:1px solid #313f66;
    background:inherit;
    color:inherit;
}
