    <div class="formGroupHead">Standard</div>
    <form>
        <input type="range">
        <input type="text" placeholder="test">
        <input type="search" placeholder="search">
        <textarea rows="6" placeholder="Enter your address"></textarea>
    </form>

    <div class="formGroupHead">Grouping</div>
    <form>
        <div class="input-group">
            <input type="text" placeholder="test">
            <input type="search" placeholder="search">
            <textarea rows="6" placeholder="Enter your address"></textarea>
        </div>
    </form>
    <div class="formGroupHead">Labeled</div>
    <form>
        <label for="test1">First Name</label>
        <input id="test1" type="text" placeholder="test">
        <label for="test2">Search</label>
        <input id="test2" type="search" placeholder="search">
        <label for="test3">Info Name</label>
        <textarea id="test3" rows="6" placeholder="Enter your address"></textarea>
    </form>
    <form>
        <div class="input-group">
            <label for="test1">First Name</label>
            <input id="test1" type="text" placeholder="test">
            <label for="test2">Search</label>
            <input id="test2" type="search" placeholder="search">
            <label for="test3">Info Name</label>
            <textarea id="test3" rows="6" placeholder="Enter your address"></textarea>

            <input type="submit" class="button" value="Submit" style='float:right;'>
        </div>
    </form>

    <div class="formGroupHead">Radios</div>
    <form>
        <div class="input-group">
            <label>Gender</label>
            <input id="aaaa" type="radio" name="test" value="1">
            <label for="aaaa">Male</label>
            <input id="bbbb" type="radio" name="test" value="2">
            <label for="bbbb">Female</label>
            <input id="cccc" type="radio" name="test" value="3">
            <label for="cccc">N/A</label>
            <br style="clear:both">
            <input type="submit" class="button" value="Submit" style='float:right;'>
        </div>
    </form>
    <div class="formGroupHead">Checkbox and Button</div>
    <form>
        <div class="input-group">
            <label>Gender</label>
            <input id="aaaaa" type="checkbox" name="test2" value="1">
            <label for="aaaaa">Male</label>
            <input id="bbbbb" type="checkbox" name="test2" value="2">
            <label for="bbbbb">Female</label>
            <input id="ccccc" type="checkbox" name="test2" value="3">
            <label for="ccccc">N/A</label>
            <br style="clear:both">
            <input type="submit" class="button" value="Submit" style='float:right;'>
        </div>
    </form>

    <div class="formGroupHead">Toggle Switches</div>
    <form>
        <div class="input-group">
            <label>Gender</label>
            <input id="toggle1" type="checkbox" name="toggle1" value="1" class="toggle">
            <label for="toggle1" data-on="On" data-off="Off"><span></span>
            </label>
            <input id="toggle2" type="radio" name="toggle2" value="1" class="toggle">
            <label for="toggle2" data-on="Yes" data-off="No"><span></span>
            </label>
            <input id="toggle3" type="radio" name="toggle2" value="1" class="toggle">
            <label for="toggle3" data-on="Yes" data-off="No"><span></span>
            </label>

        </div>
    </form>
