<div class="view active" id="navView1">
    <header>
        <h1>What</h1>
    </header>
    <div class="pages">
        <div class="panel active" id="navPage1" data-title="Foobar">
            Foobar stuff goes here

            <br>
            <a data-menu-close class="button">Close</a>
        </div>
        <div class="panel" id="navPage2" data-title="Foobar">
            <a href="#navPage1">Page 1</a>
        </div>
    </div>
    <footer>
        <a href="#navPage2" class="icon home">Main</a>
        <a href="#main" class="icon html5">About</a>
    </footer>
</div>