Toast Demo

                <br><br>
                <a class="button" data-toast data-message="I'm replacing an alert box I'm replacing an alert box" >Toast1</a>
                    <br>
                    <br>
                    <a class="button" data-toast data-type="success" data-message="Bottom Right" data-position="br" >Toast2</a>
                    <br>
                    <br>
                    <a class="button" data-toast data-type="warning" data-message="Top Center" data-position="tc">Toast3</a>
                    <br>
                    <br>
                    <a class="button" data-toast data-type="error" data-message="Bottom Center" data-position="bc">Toast4</a>